
/*----- Base Rules -----*/

* {
    box-sizing: border-box;
}
html {
    font-size: 17px;
}
body {
    font-family: 'Nunito Sans', sans-serif;
    font-size: 1em;
    line-height: 140%;
    text-align: justify;
    background: #414754;
    color: #E3E8F0;
}
h1, h2, h3 {
    font-family: 'Halant', serif;
    text-align: center;
}
h1 {
    font-size: 1.215em;
    margin: .5em auto;
}
h2 {
    font-size: 1.138em;
}
h3 {
    font-size: 1.067em;
}
ul {
    list-style: none;
    margin: 0;
    padding: 0;
}
a {
    text-decoration: none;
    color: inherit;
}

/*----- Layout Rules -----*/

header {
    position: fixed;
    z-index: 20;
    top: 0;
    left: 0;
    width: 100%;
    height: 3em;
    background: #E3E8F0;
    color: #414754; 
}
footer {
    width: 100%;
    height: 2em;
    background: #E3E8F0;
    color: #414754;
}
section {
    width: 95%;
    margin: auto;
    padding-bottom: 2em;
}
    section:first-of-type {
        margin-top: 4.5em;
    }

/*----- Module Rules -----*/

.video-wrapper {
    position: relative;
    overflow: hidden;
    width: 100%;
    padding-top: 56.25%;  /* 16:9 Aspect Ratio (9 / 16 = 0.5625) */
}
    .video-wrapper iframe {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
    }
.navlink-container {
    height: 100%;
    display: flex;
    justify-content: space-evenly;
}
    .navlink-container a {
        border: solid 2px rgba(65, 71, 84, .1);
        height: 100%;
        flex: 1 1 auto;
        text-align: center;
        padding-top: .8em;
        font-size: 16px;
        color: #82807F;
        transition: background-color .5s ease-in-out, 
                    color .5s ease-in-out;
    }
.skills-container {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    font-family: 'Lexend Zetta', sans-serif;
    line-height: 150%;
    font-size: .9em;
}
.contact-info-container {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}
    .logo {
        border-radius: 50%;
        width: 5.5em;
        height: 5.5em;
        margin: auto;
    }
        .logo-email {
            background: url("../photos/email-icon.png") no-repeat center;
            background-color: rgba(100, 100, 200, .3);
        }
        .logo-linkedin {
            background: url("../photos/linkedin-logo.png") no-repeat center;
            background-color: rgba(100, 100, 200, .3);
        }
.photo-container {
    width: 100%;
    height: 800px;
    background: radial-gradient(circle, 
        rgba(65, 71, 84, 0), 
        rgba(65, 71, 84, .25),
        rgba(65, 71, 84, .5),
        rgba(65, 71, 84, .75),
        rgb(65, 71, 84)),
        url("../photos/portrait.png") no-repeat center;
    background-size: cover;
}

/*----- State Rules -----*/

.navlink-container a:hover {
    background: rgba(65, 71, 84, .2);
    color: #414754;
}

/*----- Theme Rules -----*/

/*----- Media Queries -----*/
