
/*----- Base Rules -----*/

* {
    box-sizing: border-box;
}
html {
    font-size: 17px;
}
body {
    font-family: 'Nunito Sans', sans-serif;
    font-size: 1em;
    line-height: 140%;
    text-align: justify;
    background: #414754;
    color: #E3E8F0;
}
h1, h2 {
    font-family: 'Halant', serif;
    text-align: center;
}
h1 {
    font-size: 1.215em;
}
h2 {
    font-size: 1.138em;
}
ul {
    list-style: none;
    margin: 0;
    padding: 0;
}
li {
    text-align: center;
    padding-bottom: .25em;
}
a {
    text-decoration: none;
    color: inherit;
    font-size: 16px;
}
hr {
    width: .5px;
    height: .5px;
}

/*----- Layout Rules -----*/

header {
    position: fixed;
    z-index: 20;
    top: 0;
    left: 0;
    width: 100%;
    height: 3em;
    background-image: linear-gradient(to bottom right, #414754, #8C92AC);
}
footer {
    width: 100%;
    height: 2em;
    background-image: linear-gradient(to bottom, #414754, #8C92AC);
}
section {
    width: 95%;
    margin: auto;
}

/*----- Module Rules -----*/

.section-about {
    margin: 5em auto 1em auto;
    max-width: 1680px;
}
.section-skills {
    padding: .75em .5em;
    margin: 2em auto;
    border-radius: 10px;
    background-image: linear-gradient(to bottom right, #414754, #8C92AC);
    max-width: 1120px;
}
.section-projects {
    max-width: 1230px;
}
.video-wrapper {
    position: relative;
    overflow: hidden;
    padding-top: 56.25%; /* 16:9 Aspect Ratio (9 / 16 = 0.5625) */
}
    .video-wrapper iframe {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
    }
.navlink-container {
    height: 100%;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    max-width: 2000px;
}
    .navlink-container a {
        border: solid 3px #414754;
        height: 100%;
        flex: 1 1 100px;
        text-align: center;
        padding-top: .8em;
        color: #E3E8F0;
        transition: background-color .5s ease-in-out,
                    color .5s ease-in-out;
    }
.skills-container {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    font-family: 'Lexend Zetta', sans-serif;
    line-height: 150%;
    font-size: .9em;
    padding-bottom: 1em;
}
.contact-info-container {
    padding: 0 0 1.5em 0;
    margin-top: -1.2em;
    display: flex;
    flex-direction: column;
    align-items: center;
}
    .contact-info-item p {
        margin: 8px auto;
        color: #A7ABBF;
        font-size: 17px;
    }
    .contact-info-link {
        border-bottom: solid .5px #171717;
        transition: color .5s ease-in-out;
        padding-bottom: 3px;
    }
    .logo {
        border-radius: 50%;
        width: 80px;
        height: 80px;
        padding: 20px 0;
        margin: auto;
        border: solid 2px #171717;
        background: linear-gradient(to bottom right, #414754, #717999);
        transition: transform .5s cubic-bezier(0.68, -0.55, 0.265, 1.55);
    }
        .logo:last-of-type {
            margin-top: 25px;
        }
.photo-container {
    width: 100%;
    height: 400px;
    background: radial-gradient(circle, 
        rgba(65, 71, 84, 0), 
        rgba(65, 71, 84, .25),
        rgba(65, 71, 84, .5),
        rgba(65, 71, 84, .75),
        rgb(65, 71, 84)),
        url("../photos/portrait-small.png") no-repeat center center;
    background-size: cover;
}
.nav-arrow {
    width: 90px;
    height: 50px;
    margin: 1.75em auto 0 auto;
    background: linear-gradient(rgba(65, 71, 84, .75), rgba(65, 71, 84, .8)),
                url("../photos/down-arrow.png") no-repeat center;
    background-size: contain;
}

/*----- State Rules -----*/

.navlink-container a:hover {
    background-color: rgba(140, 146, 172, .75);
    color: #E3E8F0;
}
.logo:hover {
    transform: translateY(-10px);  
}
.contact-info-link:hover {
    color: #FFFFFF;
}

/*----- Media Queries -----*/

@media only screen and (min-width: 320px) {
    html { 
        font-size: calc(17px + 4 * ((100vw - 320px) / 680)); 
    }
}

@media only screen and (min-width: 500px),
    only screen and (min-width: 320px) and (orientation: landscape) {
    .photo-container {
        height: 500px;
    }
}

@media only screen and (min-width: 570px),
    only screen and (min-width: 375px) and (orientation: landscape) {
    .photo-container {
        height: 650px;
    }
    .contact-info-container {
        flex-direction: row;
        justify-content: center;
    }
        .contact-info-item {
            flex: 0 0 200px;
            text-align: center;
        }
        .logo {
            margin-top: 0;
        }
}  

@media only screen and (min-width: 768px),
    only screen and (min-width: 700px) and (orientation: landscape) {
        .section-about {
            display: flex;
            flex-direction: row;
            flex-wrap: wrap;
            min-height: 100vh;
        }
            .text-container {
                flex: 1 1 50%;
                padding: 3.2em 1.5em 0 1.5em;
            }
            .photo-container {
                flex: 1 1 50%;
            }
            .nav-arrow {
                flex: 0 0 auto;
                justify-self: center;
            }
        .skills-container {
            flex-direction: row;
            flex-wrap: wrap;
            align-items: flex-start;
        }
            .skills-group {
                flex: 0 0 50%;
            }
}

@media only screen and (min-width: 950px) {
    .text-container {
        padding: 3em 2em 0 2em;
    }
    .video-wrapper {
        width: 90%;
        margin: auto;
    }
}

@media only screen and (min-width: 1025px) {
    html {
        font-size: 20px;
    }
    footer {
        margin-top: 1em;
    }
    h1 {
        font-size: 1.4em;
        line-height: 110%;
        margin-bottom: 1em;
    }
    h2 {
        font-size: 1.2em;
        margin-bottom: 1.25em;
    }
    a {
        font-size: 18px;
    }
    .photo-container {
        box-shadow: 0 0 10px 5px #414754 inset;
    }
    .text-container {
        padding: 10% 5%;
    }
    .navlink-container {
        justify-content: flex-end;
        align-items: center;
    }
        .navlink-container a {
            flex: 0 0 auto; 
            height: auto;
            border: none;
            border-bottom: solid .5px #171717;
            margin-right: 3.5em;
            padding: 0;
            transition: color .5s ease-in-out;
        }
            .navlink-container a:hover {
                color: #FFFFFF;
                background-color: inherit;
            } 
        .section-skills {
            margin: 3.5em auto;
        }
        .skills-group {
            flex: 1 1 auto;
        }
}
